<div class="row">
<h1>Hard & Soft Skills</h1>
<div class="col-lg-2"><button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button></div>

 <div class="col-sm-4 col-md-4 col-lg-4 text-center" *ngFor="let skill of skill">
   <circle-progress
  [percent]="(skill.porcentaje)"
  [radius]="100"
  [imageSrc]="''"
  [title]="(skill.nombre)"
 [titleColor]="'#212F3C'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8" 
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
 ></circle-progress>

 <td *ngIf="isLogged">
  <button type="button" class="btn btn-info" routerLink="/edithys/{{skill.id}}"><i class="bi bi-pencil-square"></i>EDITAR</button></td>
<td *ngIf="isLogged">
  <button type="button" class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-eraser-fill"></i>BORRAR</button></td></div>

</div>