.gradient-custom {
    /* fallback for old browsers */
    background: #8CC38C;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(140, 195, 140, 1), rgba(181, 222, 222, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(140, 195, 140, 1), rgba(181, 222, 222, 1))
    }