<div class="row"> 

 <div class=" col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="../../../assets/20210516_160601.jpg" id="fotodeperfil" class="img-fluid">
 </div>

 

 
<div id="persona" class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p id="Titulo">Full Stack Developer Jr</p>



    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acercademi"><span ><h4>Acerca de mí</h4>
        ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugit repellendus velit ea accusamus distinctio architecto illo hic quod fuga. Voluptatum provident culpa eos a tempore voluptas dignissimos vel iste.</span></div>
 </div>
</div>






