div{
    background-color: #8CC38C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




/** Foto de perfil, borde, posicion**/

#fotodeperfil{
    display:flex;
    width: 291px;
    height: 382px;
    border-radius: 150px;
    border: 6.5px solid #284928;
    margin-right: 15px;
    
}


 #nombre, #titulo{
    right: 700px;
    
 }

 
    #fotodeperfil{
        display:flex;
        
        box-shadow: 3px 4px 3px black;
        top: px;

    }

@media(max-width: 576px){
    #fotodeperfil{
        display:flex;
        
        box-shadow: 3px 4px 3px black;
        top: 200px;
    }}

/** Nombre, titulo **/

#nombre{
    font-size: 55px;
    font-style: bold;
    
    
}
#Titulo{
    font-size: 35px;
    font-style: italic;
}

#persona{
    position: none;
}
/** Parrafo de mi**/

#acercademi{
    padding: 25px 0px;
}

.row{padding: 20px}